<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/user" >
    <p th:text="${error}" th:if="${error!=null}" style="color : red"></p>
    <div class="form-group">
        <label>User Name
            <input type="text" name="username" id="username" th:value="${username}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Email
            <input type="email" name="email" id="email" th:value="${email}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Password
            <input type="password" name="password" id="password" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>VerifyPassword
            <input type="password" name="verify" id="verify" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Sign Up" class="btn btn-success">
    </div>


</form>
</body>
</html>