<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container">
<a th:href="@{/}">Go To Spa Selections </a>
<h1>All Users</h1>
<!--<nav th:replace="fragments :: navigation"></nav>-->
<p th:unless="${users} and ${users.size()}">No Users!</p>
<!--<ul>-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>UserName</th>
        <th>Email</th>
    </tr>
    </thead>
    <tr th:each = "user: ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
<!--        <td>-->
<!--            <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>-->
<!--        </td>-->
    </tr>
</table>



</body>
</html>